* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  border: 1px solid;
  justify-content: space-around;
  padding: 50px 0;
}

.card {
  width: 25%;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

.profile {
  display: flex;
  gap: 10px;
}

.profile_icon {
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.tags {
  display: flex;
  gap: 10px;
}
.tag {
  border: 1px solid;
  border-radius: 30px;
  padding: 5px 10px;
}

.card_footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.icon {
  display: flex;
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 30px 10px;
    gap: 10px;
  }
  .card {
    width: 100%;
  }
}
