*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
}

.section{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; */
    /* margin: 10px; */
    /* margin: top/bottom left/right */
    /* margin: 10px 20px; */
    /* margin: top right bottom left */
    /* margin: 20px 40px 30px 50px; */
    /* min-width: 200px; */
    max-width: 500px;
    /* margin-left:  calc(50% - 100px); */
    /* margin: auto; */
    margin: auto;
    margin-top: calc(50vh - 100px);
}

.section_2{
    width: 300px;
    height: 150px;
    border: 2px solid red;
    /* min-height: 200px; */
    /* max-height: 500px; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
    overflow: auto;
}