* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.item {
  /* width: 200px; */
  height: 200px;
  border: 1px solid #000;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 601px) {
  .container {
    grid-template-columns: 1fr;
  }
}
