<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    p{
        border: 1px solid black;
        float: left;
        width: 230px;
        margin: 10px;
        padding: 10px;
        height: 300px;
    }
</style>
<body>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptates optio nulla distinctio rerum quo aliquam sequi voluptatem odit! Dicta beatae nulla doloribus quam quia veritatis temporibus facilis blanditiis corrupti!100</p>

    <p>Lorem ipsumtio nulla distinctio rerum quo aliquam sequi voluptatem odit! Dicta beatae nulla doloribus quam quia veritatis temporibus facilis blanditiis corrupti!100</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptates optio nulla distinctio rerum quo aliquam sequi voluptatem odit! Dicta beatae nulla doloribus q</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptates optio nulla distinctio rerum quo aliquam sequi voluptatem odit! Dicta beatae nulla doloribus quam quia veritatis temporibus facilis blanditiis corrupti!100</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptates optio nulla distinctio rerum quo aliquam sequi voluptatem odit! Dicta anditiis corrupti!100</p>

    <p>123Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptates optio nulla distinctio rerum quo aliquam sequi voluptatem odit! Dicta beatae nulla doloribus quam quia veritatis temporibus facilis blanditiis corrupti!100</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptates optio nulla distinctio rerum quo aliquam sequi voluptatem odit! Dicta beatae nulla doloribus quam quia veritatis temporibus facilis blanditiis corrupti!100</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptates optio nulla distinctio rerum quo aliquam sequi voluptatem odit! Dicta beatae nulla doloribus quam quia veritatis temporibus facilis blanditiis corrupti!100</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptates optio nulla distinctio rerum quo aliquam sequi voluptatem odit! Dicta beatae nulla doloribus quam quia veritatis temporibus facilis blanditiis corrupti!100</p>
    </body>
</html>