p{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    /* text-transform: capitalize; */
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

ul{
    list-style: square;
    list-style: none;
}
li{
    text-decoration: line-through;
}

/* my naMe Is ThIs */
