/* Typed Selector */
h1,
a,
ul {
  border: 1px solid black;
  width: 500px;
}

/* Universal Selector */
/* * {
  border: 1px solid black;
  width: 500px;
  padding: 0;
  margin: 0;
} */

/* class selector */
.item {
  color: red;
}

#second_item {
  color: blue;
}

/* child selector */
div > p > span {
  color: red;
}

/* Decendent Selector */

p a {
  color: green;
}

div p a span {
  color: purple;
}

/* Adjecent sibling Selector */

/* p + p {
  color: orangered;
} */

/* General Selector */

h1 ~ p {
  color: blue;
}
