/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* .container {
  font-size: 45px;
} */

/* p {
  color: rgb(58, 64, 69);
  /* font-family: "Poppins", sans-serif, serif; */
/* font-weight: bolder; */
/* font-style: italic; */
/* font-size: 56px; */
/* font-weight: 900; */
/* } */

.container {
  border: 1px solid red;
}
.container:hover {
  padding: 10px;
}
.description::first-letter {
  color: red;
  font-size: 45px;
}

.description::first-line {
  font-weight: bold;
  font-size: 12px;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: yellowgreen;
}

a:active {
  color: rgb(233, 230, 10);
}

button:hover {
  background-color: red;
}

input:focus {
  outline: none;
}

button:active {
  color: blue;
}
