* {
  padding: 0;
  margin: 0;
}

/* .header {
  margin: auto;
  width: fit-content;
  border: 1px solid black;
} */
a {
  text-decoration: none;
  border: 1px solid black;
  width: 100px;
  display: inline-block;
}
.nav_1 {
  /* display: none; */
  /* visibility: hidden; */
  opacity: 0.5;
}

p {
  border: 1px solid red;
  width: 300px;
  /* display: inline; */
}

.card {
  border: 1px solid black;
  width: 500px;
  margin: 0px auto 0px;
  /* text-align: center; */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 50px black;
}

.box_shadow {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 50px auto;
  /* box-shadow: 1px 1px 5px 10px red; */
  /* border-radius: 10px 30px 50px 0px; */
  border-radius: 100px;
}
