* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* from: 0%
to: 100% */
/* @keyframes blinking {

  from {
    background-color: blue;
  }
  to {
    background-color: green;
    border-radius: 50%;
  }
} */

@keyframes blinking {
  0% {
    background-color: yellow;
  }
  30% {
    background-color: purple;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: orange;
  }
}

.container_1 {
  margin: 20px;
  width: 300px;
  background-color: brown;
  height: 300px;
  border: 1px solid;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

@keyframes chakkar {
  0% {
    left: 0px;
  }
  25% {
    background-color: yellow;
    left: 100px;
    border-radius: 50%;
  }
  50% {
    background-color: blue;
    top: 100px;
    left: 100px;
  }
  75% {
    top: 100px;
    left: 0px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.container_2 {
  margin: 20px;
  width: 100px;
  margin: auto;
  background-color: brown;
  height: 100px;
  border: 1px solid;
  position: relative;
  animation-name: chakkar;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* animation-delay: 3s; */
  /* animation-direction: alternate; */
  /* animation-direction: alternate-reverse; */
  animation-fill-mode: backwards;
}
