.container {
  width: 200px;
  height: 200px;
  background-color: red;
  /* margin: auto; */
  margin-top: 50px;
  /* transition-property: border-radius; */
  /* transition-property: transform, border-radius; */
  /* transition-duration: 2s; */
  /* transition-delay: 1s; */
  /* transition-timing-function: ease; */
  /* transition-timing-function: linear; */
  /* transition-timing-function: ease-in; */
  /* transition-timing-function: ease-out; */
  /* transition-timing-function: ease-in-out; */
  transition: transform 3s ease-in-out 1s, border-radius 1s 2s;
}

.container:hover {
  border-radius: 50%;
  /* transform: rotate(360deg); */
  transform: translatex(1000px);
  /* transform: scale(1.5); */
}
