* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  height: 500px;
  gap: 10px;
  padding: 20px;
  border: 1px solid;
  /* justify-content: center; */
  /* align-items: center; */
  /* place-content: center; */
}

.item {
  border: 1px solid;
  height: fit-content;
}

.item_2 {
  order: 1;
}
